<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<target name="runLog" xsi:type="File"
				fileName="logs/${shortdate}/runLog.txt"
				layout="${longdate} ${level:uppercase=true} ${callsite} ${message}"
				archiveAboveSize="1048576"
				maxArchiveFiles="10"/>
		<target name="ssLog" xsi:type="File"
				fileName="logs/${shortdate}_ssLog.txt"
				layout="${longdate} ${level:uppercase=true} ${callsite} ${message}"
				archiveAboveSize="1048576"/>
		<target name="appLog" xsi:type="File"
			fileName="logs/appLog.txt"
			layout="${longdate} ${level:uppercase=true} ${callsite} ${message}"
			archiveAboveSize="1048576"/>
	</targets>
	<rules>
		<logger name="NLogDemo.App" minlevel="Debug" writeTo="appLog" final="true"/>
		<logger name="TestRule.*" minlevel="Debug" writeTo="runLog" final="true"/>
		<logger name="NLogDemo.*" minlevel="Debug" writeTo="ssLog" final="true"/>
	</rules>
</nlog>